<div class="container valoration-container">
  <div class="row justify-content-center">
      <div class="card text-white col-4" *ngFor="let valoration of valorations" style="max-width: 18rem;">
        <div class="card-header bg-warning title">Valoración</div>
        <div class="card-body bgCard ">
          <p class="card-text"><span class="encabezado">General Rating:</span> {{ valoration.generalRating }} </p>
          <p class="card-text"><span class="encabezado">Valoration Price: </span>  {{ valoration.valorationPrice }} </p>
          <p class="card-text"><span class="encabezado">Punctuality:</span>{{ valoration.punctuality }}</p>  
          <p class="card-text"><span class="encabezado">Trust:</span>{{ valoration.trust }}</p>
          <p class="card-text"><span class="encabezado">Description:</span>{{ valoration.description }}</p>
        </div>
      </div>
  </div>
</div>


