.text {
    text-align: center;
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;

}
.imagen {
    background-image: url("https://static7.depositphotos.com/1012125/706/i/950/depositphotos_7069859-stock-photo-doodle-kids-playing-on-a.jpg");
    background-repeat: no-repeat;
    
    
    
}