.text {
    margin-top: 10px;
    text-align: center;
    color: white;
    font-family: fantasy;
    font-weight: 600px;
    font-size: 180px;

}
img {
    vertical-align: middle;
    border-style: none;
    position: absolute;
    z-index: -2;
    min-width: 100%;
}
