<form (ngSubmit)="onSubmitLoginForm()" #loginForm="ngForm">
  <input type="email" name="email" [(ngModel)]="user.email" #email="ngModel" required email>
  <ul *ngIf="email.errors && email.touched">
    <li *ngIf="email.errors.required">required</li>
    <li *ngIf="email.errors.email">not is an email</li>
  </ul>
  <input type="password" name="password" [(ngModel)]="user.password" required>
  <button type="submit" [disabled]="!loginForm.valid">Login</button>
  <p *ngIf="error">{{ error }}</p>  
</form>