<div class="container text">
    <a [routerLink]="['/event']">
      <i class="fa fa-plus"></i>
    </a>
    <div class="card-columns">
  <div  *ngFor="let event of event" class="card">
      <h3 class="title"> {{ event.title }} </h3>
      <img [src]="event.image" />
    <div class="card-body">
        <p> Description:{{ event.description }} </p>
        <p> Price: {{ event.price }} </p>
        <p> Days:{{ event.days }} </p>
        <p> StartTime: {{ event.startTime }} </p>
        <p> EndTime: {{ event.endTime }} </p>
        <a [routerLink]="['/event', event.id]"> Ver mas... </a>
    </div>
  </div>
 </div>

  <div class="btn-wrapper" >
  <button type="button" class="btn btn-lg btn-success" [routerLink]="['/event/create']">Crear Evento</button>
  <button type="button" class="btn btn-warning" [routerLink]="['/profile']"> Perfil </button>
  </div>
  </div>