.profile-buttons {
    display: flex;
    justify-content: space-around;
}

.info {
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px grey;
}

.profile {
    margin: 50px;
}

button {
    box-shadow: 10px 10px 5px grey;
}

.data {
    font-size: 0.8em;
    color: grey;
}
.title {
    color: orange;
    font-weight: bold;
}